:root {
  --first-title-color: #212121;
  --second-title-color: #ffffff;
  --third-title-color: #757575;
  --first-btn-color: #ffffff;
  --accent-color: #188ce8;
  --basic-blu-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;

  color: var(--first-title-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*-- HEADER--*/
.header {
  background: #ffffff;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}

.header-logo-nav {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--basic-blu-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basic-blu-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link-second {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
}

.header-link-second:hover,
.header-link-second:focus {
  color: var(--accent-color);
}

.header-link-third {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
}

.header-link-third:hover,
.header-link-third:focus {
  color: var(--accent-color);
}

.header-post {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
}

.header-post:hover,
.header-post:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* --HERO-- */

.hero {
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--basic-blu-color);
  color: var(--first-btn-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
  color: var(--first-btn-color);
}

/* --SCROLL-- */

.scroll {
  background-color: var(--first-btn-color);
}

.scroll-first-title {
  font-family: "Roboto";

  font-size: 36px;
  line-height: 1.17;
  color: var(--first-title-color);
}

.scroll-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}

.scroll-pre-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}

.connection-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}

/* --TEAM-- */

.team {
  background-color: #f5f4fa;
}

.item-button {
  cursor: pointer;
  width: 112px;
  height: 38px;
  left: 726px;
  top: 174px;
  background: #F5F4FA;
}
.item-button:hover,
.item-button:focus {
  background-color: var(--first-btn-color);
}

.team-first-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}

.team-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
}

.team-pre-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}

/* --FOOTER-- */

.footer {
  background: #2f303a;
}

.contacts-address {
  font-style: normal;
}

.footer-logo {
  
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.footer-logo-nav {
 
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}

.footer-post {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-post:hover,
.footer-post:focus {
  color: var(--accent-color);
}

.footer-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
