:root {
  --first-title-color: #212121;
  --second-title-color: #ffffff;
  --third-title-color: #757575;
  --first-btn-color: #ffffff;
  --accent-color: #188ce8;
  --basic-blu-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}
address {
  font-style: normal;
}

a {
  color: currentColor;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--second-title-color);

  color: var(--first-title-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


/*-- HEADER--*/
.header {
  background: var(--second-title-color);
  border-bottom: 1px solid #ececec;
  
}

.header-list,
.header-link {
  display: flex;
  
}




.header-title:not(:last-child) {
  margin-right: 50px;
  
}
.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  margin-right: 93px;
 
}

.header-logo-nav {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--basic-blu-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
  align-items: center;
  color: var(--first-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--basic-blu-color);
  fill: var(--basic-blu-color);

}
.header-link{
padding-top: 32px;
  padding-bottom: 32px;

}

.studio {
  position: relative;
}


.studio::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  display: block;
  bottom: 0;
  right: 0;  
  border-radius: 2px;
  background-color: #2196f3;
}

.header-link:hover,
.header-link:focus {
  color: var(--basic-blu-color);
 
}



.header-tel {
  margin-left: 50px;
}

.header-post-one {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-post-one:hover,
.header-post-one:focus {
  color: currentColor;
 
}

.header-tel-one {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel-one:hover,
.header-tel-one:focus {
  color: currentColor;
}

.header-icon:hover,
.header-icon:focus {
  fill: currentColor;
  
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --HERO-- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.person {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img2/Hero\ foto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
  text-align: center;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--first-btn-color);
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 216px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--basic-blu-color);
  color: var(--first-btn-color);
 
}



/* --SCROLL-- */

.section {
  padding: 94px 0;
}

.scroll-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-bottom: 10px;
}

.scroll-pre-title {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}

.scroll-list {
  display: flex;
  gap: 30px;
}

/* --ICON-- */
.scroll-sag {
  width: 270px;
  height: 120px;
  display: flex;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.scroll-sag-icon {
  fill: #212121;
}

/*--connection--  */

.work {
  padding-top: 0px;
}

.connection-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.connection-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}
.connection > .container {
  display: flex;
  align-items: center;
}

.connection-item {
  max-width: 100%;
  right: auto;
}

/* --TEAM-- */

.team {
  background: #f5f4fa;
}

.team-porto {
  display: flex;
}
.team-list-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  
}
.team-list-porto {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-porto {
  background-color: var(--second-title-color);
}

.item-button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
border: 0;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.item-button:hover,
.item-button:focus {
  background-color: var(--basic-blu-color);
  color: var(--first-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
   
}

.team-first-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);

  margin-bottom: 50px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}

.team-pre-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  margin-bottom: 16px;
}

/* --team-top-porto-- */

.team-top-one {
  position: relative;
  overflow: hidden;
}


.team-top-porto {
  position: absolute;
  top: 0;
  left: 0;
  font-style: normal;
  font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  
    color: var(--second-title-color);
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms linear;
    overflow:auto
}

.team-item-porto:hover .team-top-porto {
  transform: translateY(0%);
}

.team-title-porto {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
}

.team-pre-porto {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  margin-top: 4px;
}

.table {
  padding: 20px 24px 20px 24px;

  border: 1px solid #ececec;
  border-top: 0px;
}

.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.team-kart-porto  {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-kart-porto:hover,
.team-kart-porto:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
   0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
   
}
.team-title {
  margin-bottom: 10px;
}
.map {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 4px;
  background: #ffffff;
}

/*--TEAM-AREA--*/

.team-area-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-area-link:hover,  
.team-area-link:focus  {
  background-color: var(--basic-blu-color);
  color: #ffffff;
 
}

.team-area-icon {
  fill: currentColor
 
 
}

.team-area {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* --FAMILY-- */

.family {
  padding-top: 94px;
  padding-bottom: 94px;
}

.family-one {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.family-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 50px;
}

.family-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.family-icon {
  fill: currentColor;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1);
 
}

.family-link:hover,
.family-link:focus {
  border: 1px solid var(--basic-blu-color);
  color: #2196f3;
  
}

/* --FOOTER-- */

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.contacts-address {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-top: 20px;
  
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
 
  }


.footer-logo-nav {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--basic-blu-color);
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
 
  }


.footer-item {
  margin-bottom: 9px;
}

.footer-post {
  margin-bottom: 9px;
}

.footer-post-one {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-post-one:hover,
.footer-post-one:focus {
  color: var(--basic-blu-color);
  
}

.footer-tel-one {
  font-weight: 400;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel-one:hover,
.footer-tel-one:focus {
  color: var(--basic-blu-color);
}

/* --FOOTER-AREA-- */

.area {
  flex-direction: column;
  align-items: baseline;
  margin-left: 70px;
}

.area-pre-one {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.area-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.area-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.area-link:hover,
.area-link:focus {
  background-color: #2196f3;
  
}

.area-icon {
  fill: #ffffff;
  
}

.area-link:hover  {
  background-color: #2196f3;
  fill: var(--second-title-color);
}

/* --Backdrop-- */
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--second-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px, 2px, 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-cross {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: block;
  background-color: #f5f4fa;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--first-btn-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

