:root {
  --first-title-color: #212121;
  --second-title-color: #ffffff;
  --third-title-color: #757575;
  --first-btn-color: #ffffff;
  --accent-color: #188ce8;
  --basic-blu-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}
address {
  font-style: normal;
}

a {
  color: currentColor;
}
button {
  cursor: pointer;
}
img {
  display: block;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--second-title-color);

  color: var(--first-title-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*-- HEADER--*/
.header {
  background: var(--second-title-color);
  border-bottom: 1px solid #ececec;
}
.header-list,
.header-link {
  display: flex;
}

.header-title:not(:last-child) {
  margin-right: 50px;
}
.header > .container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  margin-right: 93px;
}

.header-logo-nav {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--basic-blu-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-left: auto;
}

.header-link:hover,
.header-link:focus {
  color: var(--basic-blu-color);
}

.header-link-second {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
}

.header-link-second:hover,
.header-link-second:focus {
  color: var(--basic-blu-color);
}

.header-link-third {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
}

.header-link-third:hover,
.header-link-third:focus {
  color: var(--basic-blu-color);
}

.header-post-one {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
}

.header-post:hover,
.header-post:focus {
  color: var(--basic-blu-color);
}

.header-tel-one {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
  margin-left: 50px;
}

.header-tel:hover,
.header-tel:focus {
  color: var(--basic-blu-color);
}

/* --HERO-- */

.hero {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
  text-align: center;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--first-btn-color);
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 216px;
  height: 50px;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--basic-blu-color);
  color: var(--first-btn-color);
}

/* --SCROLL-- */

.section {
  padding: 94px 0;
}

.scroll-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin: 10px;
}

.scroll-pre-title {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  margin: 10px;
}

.scroll-list {
  display: flex;
  gap: 30px;
}

/*--connection--  */

.section {
  padding: 94px 0;
}
.work {
  padding-top: 0px;
}

.connection-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.connection-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}
.connection > .container {
  display: flex;
  align-items: center;
}

.connection-item {
  max-width: 100%;
}

/* --TEAM-- */

.section {
  padding: 94px 0;
}

.team {
  background: #f5f4fa;
}

.team-porto {
  display: flex;
}
.team-list-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  border-radius: 4px;
}
.team-list-porto {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-porto {
  background-color: var(--second-title-color);
}

.item-button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
}

.item-button:hover,
.item-button:focus {
  background-color: var(--basic-blu-color);
  color: var(--first-btn-color);
}

.team-first-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);

  margin-bottom: 50px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
}

.team-pre-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
}

.team-title-porto {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
}

.team-pre-porto {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--third-title-color);
  margin-top: 4px;
}

.table {
  padding: 20px 24px 54px 24px;
  border: 1px solid #ececec;
  border: 0px 110px 370px 110px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-title {
  margin-bottom: 10px;
}
.map {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* --FOOTER-- */

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.contacts-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
  margin-top: 20px;
  gap: 9px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.footer-logo-nav {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--basic-blu-color);
}

.footer-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
  margin: 9px;
}

.footer-post-one {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin: 9px;
}

.footer-post:hover,
.footer-post:focus {
  color: var(--basic-blu-color);
}

.footer-tel-one {
  font-weight: 400;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  margin: 9px;
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--basic-blu-color);
}
