body {
    font-family: Roboto, sans-serif;
    background-color: var(--second-title-color);

    color: var(--first-title-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.no-scroll {
    overflow: hidden;
}