:root {
    --first-title-color: #212121;
    --second-title-color: #ffffff;
    --third-title-color: #757575;
    --first-btn-color: #ffffff;
    --accent-color: #188ce8;
    --basic-blu-color: #2196f3;
}