.section__padding--one {
 padding: 94px 0;
    }

.feachers__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.feachers__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--third-title-color);
}

.feachers {
    display: flex;
    gap: 30px;
}

/* --ICON-- */
.feachers__box {
    width: 270px;
    height: 120px;
    display: flex;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.feachers__icon {
    fill: #212121;
}