


.team {
gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    // display: block;
        
    //     @media screen and (min-width: 768px) {
    //         gap: 30px;
    //         display: flex;
    //         flex-wrap: wrap;
    //         justify-content: center;
    //     }
                
}


.team__item {
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        @media screen and (min-width: 480px) {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
            }
            @include mobile {
                max-width: 450px;
            }
             @include table {
            width: 354px;
                        }
            @include mobile {
            width: 270px;
                                                }
 @media screen and (max-width: 767px) {
     &:not(:last-child) {
         margin-bottom: 30px;

     }

     @media screen and (min-width: 768px) {
         width: calc((100% - 30px) / 2);
         margin-bottom: 0;
     }

     @media screen and (min-width: 1200px) {
         width: calc((100% - 90px) / 4);
     }

 }
           
    
       
    }


.team__box {
padding-top: 30px;
    padding-bottom: 24px;
     text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 1200px) {
        padding-bottom: 30px;
    }
}
    // padding-top: 30px;
    // padding-bottom: 30px;
    // border-radius: 4px;
    // background: #ffffff;
    // @media screen and (min-width: 1200px) {
    //         padding-top: 30px;
    //         padding-bottom: 30px;
    //     }
    


.section__title-one {
    align-items: center;
        margin-bottom: 30px;
        color: var(--primary-text-color);
        @include font(28px, 700, 1.18, 0.03em, center);
    
        @media screen and (min-width: 1200px) {
            @include font(36px, 700, 1.17, 0.03em, center);
            margin-bottom: 50px;
        }
}

.team__title {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
    margin-bottom: 30px;
    
}

.team__title {
    margin-bottom: 10px;
}

.team__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-title-color);
    margin-bottom: 16px;
}

.social__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--basic-blu-color);
        color: #ffffff;
    
        }

    
}


.social__icon {
    fill: currentColor;
}

.social {
    display: flex;
    justify-content: center;
    gap: 10px; 
}
   








