

.work {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
   color: #212121
}

.connection>.container {
    @extend %lign-flex;
    
}

.work__item {
    max-width: 100%;
    right: auto;
}

.container {
    position: relative;
}

.work__box {
    position: absolute;
    top: 316px;
    width: 370px;
    height: 70px;
    padding: 27px 0;
    background: rgba(47, 48, 58, 0.8);
}

.work__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
}